<div class="background">

  <div class=edit-bio>
    <h4> <%= link_to ">> Edit Profile", edit_user_registration_path, class: "edit-bio" %></h4>
  </div>


  <div class="user-container d-flex justify-content-around">

    <div class="div-left">
      <div class="teacher-card-content">
        <div class="teacher-card-bio">

          <div>
            <%= cl_image_tag @user.picture.key, class: "profile-image" %>
          </div>
          <br><br>

          <div class="user-card">
            <h4> Name: <strong> <%= @user.name %> </strong> </h4>
            <h4> E-Mail: <strong> <%= @user.email %> </strong> </h4>
          </div>
          <br><br>

          <div class="add-course-button">
            <p class="add"> <%= link_to "CREATE COURSE", new_course_path, class: "add" %> </p>
          </div>
        </div>


        <br>
      </div>
    </div>

    <div class="div-right">

      <div class="div-bio">
        <h3> <u> <%= "Hello my name is #{@user.name} "%> </u> </h3>
        <%= @user.bio %>
      </div>

      <div class="div-upcoming">
        <h3> <u> My Courses </u> </h3>

        <div class="div-upcoming-courses">

         <% @user.courses.each do |course| %>
          <div class="card-upcoming">
           <%= cl_image_tag course.picture.key %>
           <%= link_to course.name, course_path(course) %>
          </div>
         <% end %>

      </div>


        <h3> <u> Booked Courses </u> </h3>

        <div class="d-flex div-upcoming-courses">

         <% @user.bookings.each do |booking| %>

         <div class="card-upcoming">
             <%= cl_image_tag booking.course.picture.key %>
             <%= link_to booking.course.name, course_path(booking.course) %>
            </div>

         <% end %>




      </div>

    </div>


  </div>
</div>
