<div class="background">
    <div class="search-results">

      <div class ="results-and-map">

        <div>
          <h4><strong>Results for:</strong></h4>
          <br>
          <p>City: BERLIN</p>
          <p>Course: SURPRISE ME</p>
        </div>

        <div
          id="map"
          style="width: 600px;
          height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      </div>

      <!-- <h6>RESULTS FOR: “COURSES IN BERLIN”</h6> -->

  <p> <em>RECENT COURSES ADDED</em> </p>
  <div class="recent-courses">
    <% @courses.each do |course| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to course.name, course_path(course) %></h2>
          <p><%= course.category %></p>
          <img src= <%= course.Picture  %>, alt="">
          <p><%= course.subtitle %></p>
        </div>
        <h2 class="card-trip-pricing"><%= course.price %>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
     </div>
     <% end %>
  </div> -->

</div>


<!--           <div class="container">
            <div class="row">
              <%# @courses.each do |course| %>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
                    <div class="card-description">
                      <h2><%#= course.name %></h2>
                    </div>
                    <%#= link_to "", course_path(course) %>
                  </div>
                </div>
              <%# end %>
            </div>
          </div> -->
      </div>

    </div>


  </div>


<%= link_to "Back to Home Page", root_path %>


</div>
</div>
