
<div class="background">
    <div class="search-results">

      <!-- <div class ="results-and-map"> -->

        <div class='d-flex' justify-content>
          <h4><strong>Results for:    </strong></h4>
          <br>
          <br>
          <h6>CITY:    </h6>
          <br>
          <p>BERLIN    </p>
          <br>
          <br>
          <h6>COURSE:    </h6>
          <br>
          <p>SURPRISE ME    </p>
        </div>

        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      <!-- </div> -->
    <br>
    <br>
      <!-- <h6>RESULTS FOR: “COURSES IN BERLIN”</h6> -->

  <h4> <em>RECENT COURSES ADDED</em> </h4>
  <div class="cards">
    <% @courses.each do |course| %>
    <div class="card">
      <img src= <%= course.picture  %>, alt="picture" class="card-img">
      <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1445&q=80" alt="profile image" class="profile-img">
      <div class="card-trip-infos">
        <div>
          <h2 class="btn btn1"><%= link_to course.name, course_path(course) %></h2>
          <p><%= course.category %></p>
          <p><%= course.subtitle %></p>
        </div>
        <h2 class="card-trip-pricing"><%= course.price %>€</h2>
        <!-- <button class="btn btn1"> Book Now </button> -->
      </div>
     </div>
     <% end %>
  </div>

<%= link_to "Back to Home Page", root_path %>


</div>
</div>
