<h1>Create a new Course</h1>
<%= simple_form_for @course do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
