

<div class="background">

  <div class="container-home text-center">

    <br>

    <div class="d-flex justify-content-center form">
      <div class="form-new">
        <div class="m-5">
          <h2 class="text-center">Create a new Course</h2>
          <br>

            <%= simple_form_for @course do |f| %>
              <%= f.input :name, label: false,
                          placeholder: "Name" %>
              <%= f.input :category, label: false,
                            placeholder: "Category" %>
              <%= f.input :price, label: false,
                            placeholder: "Price" %>
              <%= f.input :address, label: false,
                            placeholder: "Address" %>
              <%= f.input :description, label: false,
                            placeholder: "Description" %>
              <%= f.input :subtitle, label: false,
                            placeholder: "Subtitle" %>
              <%= f.input :picture, as: :file, label: false %>
              <%= f.input :start, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end,  required: false, input_html: {class: "datepicker"} %>
              <%= f.input :start_time, label: false, placeholder: "1200" %>
              <%= f.input :end_time, label: false, placeholder: "1400" %>

              <%= f.button :submit, class: "show-courses-button" %>
           <% end %>

          <br>
          <%= link_to "Back to Profile Page" %>

        </div>
      </div>
    </div>
  </div>

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>

</div>


