<div class="background">


  <div class=edit-bio>
    <h5> <%= link_to ">> Return to Courses", courses_path, class: "edit-bio"  %></h5>
  </div>
  <br>

  <div class="container d-flex justify-content-around">

    <div class="div-left-course">
        <h2><u><%= @course.name %></u></h2>
        <% start = @course.start %>
        <% finish = @course.end %>
        <p><%= "DATE: #{Date.parse(start).strftime("%d %b")} - #{Date.parse(finish).strftime("%d %b")} " %></p>
        <p><%= "TIME: #{@course.start_time} - #{@course.end_time}" %></p>

        <p> @ <%= @course.address %></p>
        <br>
        <%= cl_image_tag @course.picture.key, class: "course-card-image" %>
          <br><br>
        <h5><u>AGENDA</u></h5>
          <p><%= @course.description %></p>
        <br>
    </div>

    <div class="div-right-course">


      <%= cl_image_tag @course.user.picture.key, class: "profile-image" %>
      <br><br><h5><u>TEACHER</u></h5>
      <h5> <%=@course.user.name  %></h5>
      <p><%= @course.user.bio %></p>

      <br>
      <br>
      <div class="add-course-button">
        <p class="add"> <%=link_to "Attend", course_bookings_path(@course), method: :post, class: "add" %> </p>
      </div>

  </div>

</div>

<br>
<br>
<br>
<br>

